.main-container {
    display: grid;
    grid-template-columns: 15fr 5fr;
    padding-top: 30px;
}
.developers-container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}